@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'DM Mono', monospace;
}

@font-face {
  font-family: 'Monument Regular';
  src: url("./font/MonumentExtended-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'Monument Extended';
  src: url("./font/MonumentExtended-Ultrabold.otf") format('opentype');
}

:root {
  @apply text-[#0B0F12] bg-[#E6E6E6];
}